#!/bin/bash

# # # # # #
# ALIASES #
# # # # # #

# System
type -P doas &>/dev/null && \
    alias d="doas" ||       \
    alias d="sudo"
type -P exa &>/dev/null &&                                          \
    alias ls='exa -aagl --color-scale --group-directories-first' && \
    alias lt='exa -aglT --color-scale --group-directories-first' || \
    alias ls='ls -lah --color=auto --group-directories-first'
type -P paru &>/dev/null && \
    alias p='paru' ||       \
    alias p='d pacman'
alias mkd='mkdir -pv'
alias mcd='aliases:mcd'

# Directories
alias gsrc='cd /usr/local/src'
alias gtfmp='cd $HOME/Dropbox/Dylan\ Cairns-Howarth/Documents/TFMP'
alias gv='cd $HOME/.config/nvim/'

# Vim
alias vp='nvim -c :Prose'
alias vc='nvim -c :Code'
alias cv='nvim $HOME/.config/nvim/'

# Bash
alias ca='vc $HOME/.aliases'
alias cbrc='vc $HOME/.bashrc'
alias cbp='vc $HOME/.bash_profile'

# Suckless
alias mci='doas make clean install'
alias cdmenu='config_menu dmenu'
alias cdwm='config_menu dwm'
alias cst='config_menu st'

# Git
type -P git-wrapper &>/dev/null &&                                          \
    alias dfc='git-wrapper -d' &&                                           \
    alias git='git-wrapper' &&                                           \
    alias g='git-wrapper' && return ||                                      \
    alias dfc='/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME' &&  \
    alias g='git'


# Plex
alias plexconf='ssh cs@192.168.1.110'

# Qsynth
alias qsynth='qsynth -a pulseaudio /usr/share/sounds/sf2/FluidR3_GM.sf2'

# Xephyr
alias Xe='setsid Xephyr -ac -br -screen 1680x1050 :1'
alias D1='DISPLAY=:1'

# # # # # # #
# FUNCTIONS #
# # # # # # #

# TODO: this doesn't export
aliases:mcd() { mkdir -pv "$1" && cd "$1" }
