#!/bin/bash

# # # # # #
# ALIASES #
# # # # # #

# System
alias d="doas"
alias ls='ls -lah --color=auto --group-directories-first'
alias p='paru'
alias mkd='mkdir -pv'

# Directories

alias gsrc='cd /usr/local/src'

# Vim
alias vp='nvim -c :Prose'
alias vc='nvim -c :Code'
alias cvrc='vc $HOME/.vimrc'

# Bash
alias ca='vc $HOME/.aliases'
alias cbrc='vc $HOME/.bashrc'
alias cbp='vc $HOME/.bash_profile'

# Suckless
alias mci='doas make clean install'
alias cdmenu='config_menu dmenu'
alias cdwm='config_menu dwm'
alias cst='config_menu st'

# Git
alias dfc='/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME'

# Plex
alias plexconf='ssh cs@192.168.1.110'

# Xephyr
alias Xe='setsid Xephyr -ac -br -screen 1680x1050 :1'
alias D1='DISPLAY=:1'

# # # # # # #
# FUNCTIONS #
# # # # # # #
